<div class="nav-bar">
    <h1><a href="/">Members Only</a></h1>
    <% if (currentUser) { %>
        <div><%= currentUser.first_name %></div>
    <% } %>
    <nav>
        <% if (!currentUser) { %> 
            <a href="/sign-up">Sign Up</a>
            <a href="/login">Log In</a>
        <% } else { %>
            <a href="/logout">Log Out</a>
        <% } %>
    </nav>
</div>